.dropdownopen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  min-height: 360px;
  min-width: 500px;
}
.dropdownclosed {
  display: flex;
  display: none;
  transform: translateX(100px);
  justify-content: center;
  align-items: center;
}

.dropdownopen {
  margin-top: 100px;
  z-index: -1;
  -webkit-animation: dropdownopen 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
  animation: dropdownopen 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
}
@-webkit-keyframes dropdownopen {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 1;
  }
}
@keyframes dropdownopen {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(-15px);
    opacity: 1;
  }
}

.cardfocusopen {
  -webkit-animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
    both;
  animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
}

.dropdownclosed {
  -webkit-animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
    both;
  animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
}
@-webkit-keyframes dropdownclosed {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes dropdownclosed {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(100);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(100px);
  }
}
@-webkit-keyframes flycard {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(100);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes flycard {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(-100);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(-100px);
  }
}
.bgfrank {
  z-index: -1;
  width: 100%;
  min-height: 600px;
  font-size: 20px;
  margin: 12px;
  padding: 15px;
  margin-left: 50%;
  image-rendering: optimizeSpeed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6ca4ed;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  /* @apply bg-[url('../assets/images/frank-ocean-bgt.jpeg')];  */
}
.container-desc {
  z-index: -1;
  margin: 1%;
  min-width: 100vw;
}
.Flypdescib {
  border-radius: 20px;
}
.frankheader {
  z-index: -1;
  color: black;
  border-radius: 20px;
}

.boutondiv {
  display: flex;
  flex-direction: row-reverse;
  transform: translate(-3%, 100%);
}
.titre-desc-flyp {
  font-size: 2.2em;
}
.desc-flyp {
  font-size: 1.5em;
}
.cardfocusclosed {
  z-index: 2;
  position: fixed;
  top: 25%;

  justify-content: center;
  align-items: flex-start;
}

.cardfocusopen {
  min-width: 74%;
  margin-top: 40%;
  z-index: 2;
  margin-left: 41%;
  padding-bottom: 4%;
}
.flycard {
  font-size: 20px;
}
