@media (min-width: 670px) {
  .dropdownopen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    min-width: 400px;
    margin-left: 100px;
  }
  .dropdownclosed {
    display: flex;
    display: none;
    transform: translateX(100px);
    justify-content: center;
    align-items: center;
  }

  .dropdownopen {
    /* margin-top: 100px; */

    z-index: -1;
    -webkit-animation: dropdownopen 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
      both;
    animation: dropdownopen 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
  }
  @-webkit-keyframes dropdownopen {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      opacity: 0;
    }
    50% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
      opacity: 1;
    }
  }
  @keyframes dropdownopen {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      opacity: 0;
    }
    50% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-15px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(-15px);
      opacity: 1;
    }
  }

  .cardfocusopen {
    -webkit-animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
      both;
    animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
  }

  .dropdownclosed {
    -webkit-animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
      both;
    animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
  }
  @-webkit-keyframes dropdownclosed {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  @keyframes dropdownclosed {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(100);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(100px);
    }
  }
  @-webkit-keyframes flycard {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(100);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  }
  @keyframes flycard {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(-100);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(-100px);
    }
  }
  .bgfrank {
    z-index: -1;
    width: 100%;
    min-height: 500px;
    max-width: 400px;
    font-size: 17px;
    margin-top: 10px;
    padding: 15px;
    margin-left: 90px;

    image-rendering: optimizeSpeed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6ca4ed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    /* @apply bg-[url('../assets/images/frank-ocean-bgt.jpeg')]*/
  }
  .container-desc {
    z-index: -1;
    max-width: 400px;
  }
  .Flypdescib {
    border-radius: 20px;
  }
  .frankheader {
    z-index: -1;
    color: black;
    border-radius: 20px;
  }

  .boutondiv {
    display: flex;
    flex-direction: row-reverse;
    transform: translate(-3%, 100%);
  }
  .titre-desc-flyp {
    font-size: 2.2em;
  }
  .desc-flyp {
    font-size: 1.5em;
  }
  .cardfocusclosed {
    display: flex;
    z-index: 2;
    position: fixed;
    top: 40%;

    justify-content: center;
    align-items: center;
  }

  .cardfocusopen {
    width: 400px;
    margin-top: 800px;
    z-index: 2;
    margin-left: 180px;
  }
  .flycard {
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-width: 30vw;
    margin-top: 100%;
    font-size: 15px;
    margin-left: 20%;
  }
}

@media (min-width: 389px) and (max-width: 670px) {
  .dropdownopen {
    scroll-behavior: smooth;
    display: grid;
    justify-content: left;
    align-items: center;

    min-height: 360px;
    min-width: 360px;
  }
  .dropdownclosed {
    scroll-behavior: smooth;
    display: none;
    z-index: -10;
    max-width: 80vw;
    justify-content: flex-start;
    align-items: center;
  }

  .dropdownopen {
    display: flex;
    margin-top: 12.5%;

    z-index: -1;
    -webkit-animation: dropdownopen 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
      both;
    animation: dropdownopen 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
  }
  @-webkit-keyframes dropdownopen {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      opacity: 0;
    }
    50% {
      -webkit-transform: translateY(-100px);
      transform: translateY(100px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      opacity: 1;
    }
  }
  @keyframes dropdownopen {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      opacity: 0;
    }
    50% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(-500px);
      opacity: 1;
    }
  }

  .cardfocusopen {
    -webkit-animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
      both;
    animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
  }

  .dropdownclosed {
    -webkit-animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
      both;
    animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
  }
  @-webkit-keyframes dropdownclosed {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  @keyframes dropdownclosed {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(100);
      -webkit-transform: translateX(-80px);
      transform: translateX(-80px);
    }
    100% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
    }
  }
  @-webkit-keyframes flycard {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(00);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(00px);
    }
  }
  @keyframes flycard {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(100);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  }
  .bgfrank {
    display: flex;

    z-index: -1;
    min-width: 100vw;
    min-height: 300px;
    max-height: 55vh;
    scroll-behavior: smooth;
    font-size: 15px;
    margin-top: 2px;
    padding: 10px;
    margin-right: -4%;
    margin-left: -12%;
    image-rendering: optimizeSpeed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6ca4ed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: -10;

    /* @apply bg-[url('../assets/images/frank-ocean-bgt.jpeg')];  */
  }
  .container-desc {
    display: flex;
    flex-direction: column;
    z-index: -1;

    margin: auto;
    min-width: 100vw;
  }
  .Flypdescib {
    border-radius: 20px;
  }
  .frankheader {
    z-index: -1;
    color: black;
    border-radius: 20px;
  }

  .boutondiv {
    display: flex;
    flex-direction: row-reverse;
    transform: translate(-5%, 100%);
  }
  .titre-desc-flyp {
    font-size: 2.3em;
  }
  .desc-flyp {
    font-size: 1.5em;
  }
  .cardfocusclosed {
    display: flex;
    z-index: 20;
    /* position: fixed;
    top: 25%;
    margin: auto;
    justify-content: flex-end;
    align-items: flex-start; */
  }

  .cardfocusopen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .flycard {
    margin-top: 300px;
    display: flex;
    font-size: 15px;
    min-width: 90vw;

    justify-content: center;
  }
}

@media (max-width: 389px) {
  .dropdownopen {
    scroll-behavior: smooth;
    display: grid;
    justify-content: left;
    align-items: center;

    min-height: 360px;
    min-width: 360px;
  }
  .dropdownclosed {
    scroll-behavior: smooth;
    display: none;
    z-index: -10;
    max-width: 90vw;
    justify-content: flex-start;
    align-items: center;
  }

  .dropdownopen {
    display: flex;
    margin-top: 5%;

    z-index: -1;
    -webkit-animation: dropdownopen 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
      both;
    animation: dropdownopen 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
  }
  @-webkit-keyframes dropdownopen {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      opacity: 0;
    }
    50% {
      -webkit-transform: translateY(-100px);
      transform: translateY(100px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      opacity: 1;
    }
  }
  @keyframes dropdownopen {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      opacity: 0;
    }
    50% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(-500px);
      opacity: 1;
    }
  }

  .cardfocusopen {
    -webkit-animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
      both;
    animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
  }

  .dropdownclosed {
    min-width: 100vw;
    -webkit-animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
      both;
    animation: dropdownclosed 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 both;
  }
  @-webkit-keyframes dropdownclosed {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  @keyframes dropdownclosed {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(100);
      -webkit-transform: translateX(-80px);
      transform: translateX(-80px);
    }
    100% {
      -webkit-transform: translateY(-150px);
      transform: translateY(-20%);
    }
  }
  @-webkit-keyframes flycard {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(100);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  }
  @keyframes flycard {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(100);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  }
  .bgfrank {
    display: flex;
    flex-direction: column;
    z-index: -1;
    min-width: fit-content;
    max-width: 360px;
    min-height: 300px;
    scroll-behavior: smooth;
    font-size: 15px;
    margin-top: 2px;
    padding: 10px;
    image-rendering: optimizeSpeed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6ca4ed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: -10;

    /* @apply bg-[url('../assets/images/frank-ocean-bgt.jpeg')];  */
  }
  .container-desc {
    max-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: -1;

    margin: auto;
    min-width: 100vw;
  }
  .Flypdescib {
    border-radius: 20px;
  }
  .frankheader {
    z-index: -1;
    color: black;
    border-radius: 20px;
  }

  .boutondiv {
    display: flex;
    flex-direction: row-reverse;
    transform: translate(-5%, 100%);
  }
  .titre-desc-flyp {
    font-size: 2.3em;
  }
  .desc-flyp {
    font-size: 1.5em;
  }
  .cardfocusclosed {
    display: flex;
    z-index: 20;

    top: 25%;
  }

  .cardfocusopen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: -50px;
  }
  .flycard {
    display: flex;
    font-size: 15px;
    /* min-width: 110vW; */

    justify-content: center;

    /* margin-left: -7%; */
  }
}
