.footerContainer {
  @apply fixed bottom-0 right-0 left-0 flex justify-around items-center;
}

.footerButton {
  @apply my-4 p-3 w-1/4 font-medium text-white rounded hover:bg-red-900 transition duration-300 cursor-pointer;
}

#search-toggle {
  @apply flex justify-center items-center border border-gray-500 rounded-full h-10 w-10;
}
