.searchBarBox {
  @apply relative w-4/5 sm:w-3/5 lg:w-2/5 bg-white shadow-xl border border-slate-400 h-full;
}

.searchBarContainer {
  @apply container mx-auto py-1 text-black;
}

.searchBarInput {
  @apply w-full rounded-full text-gray-800 transition focus:outline-none focus:border-transparent p-2 leading-normal text-lg lg:text-xl;
}

.searchButton {
  @apply cursor-pointer pl-6;
}

.searchIcon {
  @apply fill-current text-gray-900 w-4 h-4;
}

.isTrue {
  border-radius: 50px;
}

.isFalse {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
