.searchBarBox {
  @apply relative w-4/5 sm:w-3/5 lg:w-2/5 bg-white shadow-xl border border-slate-400  rounded-full mt-28;
}

.searchBarContainer {
  @apply container mx-auto py-1 text-black;
}

.searchBarInput {
  @apply w-full rounded-full text-gray-800 transition focus:outline-none focus:border-transparent p-2 leading-normal text-lg lg:text-xl;
  padding: 0.22em;
  font-size: 1em;
}

.searchButton {
  @apply cursor-pointer pl-6;
}

.searchIcon {
  @apply fill-current text-gray-900 w-3 h-3;
}
