.searchBarBox {
  @apply relative rounded-full w-4/5 bg-white shadow-xl border border-slate-400 mx-auto my-4;
  max-height: 40px;

  width: 80%;
}

.searchBarContainer {
  @apply container mx-auto py-4 text-black;
  padding: 0;
  width: 90%;
}

.searchBarInput {
  @apply w-full rounded-full text-gray-800 transition focus:outline-none focus:border-transparent p-2 leading-normal text-xl lg:text-2xl;
  max-height: 32px;
}

.searchButton {
  @apply cursor-pointer pl-6;
}

.searchIcon {
  @apply fill-current text-gray-900 w-4 h-4;
}
