.bodySignIn {
  @apply h-screen flex flex-col items-center justify-center;
}

.bgImageSignIn {
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 100%;
  opacity: 30%;
  object-fit: cover;
}

.loginBox {
  @apply w-full m-0;
}

.loginBox2 {
  @apply bg-white shadow rounded lg:w-1/3 md:w-1/2 w-full p-8 m-auto;
}

.loginBoxTitle {
  @apply text-2xl font-extrabold leading-6 text-gray-800 pb-4;
}

loginBoxHr {
  @apply w-full flex items-center justify-between py-5;
}

.loginBoxLabel {
  @apply text-sm font-medium leading-none text-gray-800;
}

.loginBoxInput {
  @apply bg-gray-200 border rounded focus:outline-none text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2;
}

.loginBoxEyePassword {
  @apply absolute right-0 mt-2 mr-3 cursor-pointer;
}

.loginBoxButton {
  @apply focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-red-700 border rounded hover:bg-red-600 py-4 w-full mt-8;
}
