.header-wallet {
  height: 100px;
  /* max-width: 500px;
  min-width: 370px;
  max-height: 500px; */
}
.titre-wallet {
  /* position: fixed;
  top: 15%;
  left: 28%; */

  /* padding: 2%;
  font-size: 2em; */
}
.section2-wallet {
  /* display: flex;
  position: absolute;

  max-height: 50px;
  width: 100%;
  max-width: 65%;

  padding-right: 0;
  margin-bottom: 0; */
}
.menu-bas1 {
  display: flex;
  background-color: rgb(201, 3, 3);
  font-size: 1.1em;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  width: 50%;
  border: solid;
  color: white;
  border: 1px;
  padding: 5px;
  border-color: rgba(0, 0, 0, 0.308);
  border-radius: 2px;
  box-shadow: 1px 0.5px 0px black;
  text-shadow: 1px 0.5px 0px black;
  padding: 1%;
  margin-left: 8%;
  border-radius: 5px;
}
.menu-bas2 {
  display: flex;
  font-size: 1.1em;
  align-items: center;
  justify-content: center;
  background-color: rgb(201, 3, 3);
  width: 50%;
  border: solid;
  border: 2px;
  color: white;
  border-color: rgba(0, 0, 0, 0.308);
  border-radius: 1px;
  box-shadow: 1px 0.5px 0px black;
  text-shadow: 1px 0.5px 0px black;
  margin-left: 8%;
  border-radius: 5px;
}
.searchBarDesktop {
  @apply flex justify-center  my-5;
  margin-bottom: -148px;
}

.carousel-div {
  z-index: -1;
  transform: translateY(350px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.baremenubas {
  position: fixed;

  width: 100%;
  top: 90%;
}

@media (max-width: 400px) {
  .container-wallet {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
  }
  .header-wallet {
    display: flex;

    align-items: center;
    height: 100px;
    max-width: 400px;
    min-width: 370px;
    max-height: 500px;
  }
  .titre-wallet {
    /* position: fixed;
    
    left: 28%;

    padding: 2%;
    font-size: 2em;
  }
  .section2-wallet {
    /* display: flex;
    position: absolute;

    max-height: 50px;
    width: 100%;
    max-width: 65%;

    padding-right: 0; */
    margin-bottom: 0;
  }
  .menu-bas1 {
    display: flex;
    background-color: rgb(201, 3, 3);
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    max-height: 30px;
    width: 50%;
    border: solid;
    color: white;
    border: 1px;
    padding: 5px;
    border-color: rgba(0, 0, 0, 0.308);
    border-radius: 2px;
    box-shadow: 1px 0.5px 0px black;
    text-shadow: 1px 0.5px 0px black;
    padding: 1%;
    margin-left: 8%;
    border-radius: 5px;
  }
  .menu-bas2 {
    display: flex;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 3, 3);
    width: 50%;
    border: solid;
    border: 2px;
    color: white;
    border-color: rgba(0, 0, 0, 0.308);
    border-radius: 1px;
    box-shadow: 1px 0.5px 0px black;
    text-shadow: 1px 0.5px 0px black;
    margin-left: 8%;
    border-radius: 5px;
  }
  .searchBarDesktop {
    @apply flex justify-center  my-5;
    z-index: -100;
    margin-bottom: -140px;
  }

  .carousel-div {
    z-index: -1;
    display: flex;
    /* margin-right: 1%;
    top: 35%; */


    transform: translate(10px, 320px) scale(0.8);

  }

  .baremenubas {
    position: fixed;
    width: 100%;
    top: 90%;
  }
}
@media (min-width: 600px) {
  .carousel-div {
    z-index: -1;
    margin-top: 10%;
    min-width: 100vw;
    display: flex;
    justify-content: flex-end;
    top: 35%;
    margin-left: 15%;
    margin-top: auto;
    width: 100%;
  }
}
body {
  overscroll-behavior: contain;
}
